.page{
    margin: 0;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
.navbar{
    padding-top: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
nav>ul{
    display: flex;
    gap: 5rem;
}
nav{
    padding-right: 2rem;
}
.logo{
    padding-left: 2rem;
    text-align: center;
    align-self: center;
}
section{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}
.animated-ele{
    opacity: 0;
}
.page-animation{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.color-one,.color-two,.color-three{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.color-one{
    background-color: blue;
    z-index: 3;
}
.color-two{
    background-color: red;
    z-index: 2;
}
.color-three{
    background-color: purple;
    z-index: 1;
}
.intro{
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 12vw;
    /* font-size: 24vh; */
    
}
.about{
    display: grid;
    grid-template-columns: 20% 50%;
}
.skills-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "skills"
    ;
}
.skills-title{
    grid-area: title;
    justify-self: center;
}
.skills{
    grid-area: skills;
    display: grid;
    grid-template-areas: 
    ". front back other ."
    ;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
}
.front-container{
    display: grid;
    grid-area: front;
}
.back-container{
    grid-area: back;
    border-right: 3px dotted white;
    border-left: 3px dotted white;
}
.other-container{
    grid-area: other;
}
.back-container,.front-container,.other-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skills>*{
    padding: 0 1rem 0 1rem;
    margin-top: 2rem;
}
.projects>img{
    width: 100%;
    /* height: 400px; */
}
.project{
    background-color: rgb(245, 96, 32);;
}
.projects{
    display: grid;
    grid-template-areas: 
    ". projectsTitle . ."
    ". woImg woDesc ."
    ". planImg planDesc ."
    ;
    grid-template-columns: 5% 1fr 1fr 5%;
    row-gap: 10rem;
    column-gap: 1rem;
}
.woImg{
    grid-area: woImg;
}
.woDesc{
    grid-area: woDesc;
}
.planImg{
    grid-area: planImg;
}
.planDesc{
    grid-area: planDesc;
}
.projectsTitle{
    grid-area: projectsTitle;
}
.project-link{
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 1rem 0 0;
}




