<div class="page">
  <div class="navbar">
    <div class="nav-title">
      <a class="logo" (click)="scroll(intro)">IC</a>
      <i class="ri-menu-line toggle-button" (click)="toggleNav()"></i>
    </div>

    

    <ul class="nav" [class.showNav]="!showNav">
        <li (click)="scroll(about)">About</li>
        <li (click)="scroll(skills)">Skills</li>
        <li (click)="scroll(projects)">Projects</li>
        <li (click)="scroll(contact)">Contact</li>
    </ul>  

  </div>

  <section class="fade-in intro-section" #intro>
    <h1 class="intro">
      <span class="box"></span>
      <span class="hey">Hey, <br>Im Ian, <br> </span>
      <span class="text"></span>
      <span class="cursor">|</span>
    </h1>
  </section>

  <section class="about-section" #about>
    <div class="about">
      <h1 class="about-title">About Me.</h1>
      <p class="about-p">My name is Ian Craine, born and raised in Dallas, Texas. From a young age I have always enjoyed using technology which is one of 
        the main factors that pushed me into the development field. When not coding I usually spend my time playing video games or watching shows such as 
        The Office and One Piece. When not at the computer I try my best to keep an active lifestyle in hopes of canceling out all the sitting 
        around I do. The gym is one of my big stress relievers and something I have learned to love over many years. I also really enjoy traveling 
        even if its just around my city to find cool places and people watch.
      </p>
    </div>
  </section>

  <section class="skills-section" #skills>
    <div class="skills-container">
      <h2 class="skills-title">Technology</h2>
      <div class="skills">
        
        <div class="front-container">
          <h3>Frontend</h3>
          <ul>
            <li>Angular</li>
            <li>TypeScript</li>
            <li>Vue.Js</li>
            <li>JavaScript</li>
            <li>CSS</li>
            <li>HTML</li>
          </ul>
        </div>

        <div class="back-container">
          <h3>Backend</h3>
          <ul class="backend">
            <li>Java</li>
            <li>PostgreSql</li>
            <li>Spring Boot</li>
          </ul>
        </div>

        <div class="other-container">
          <h3>Other</h3>
          <ul>
            <li>Git</li>
            <li>Heroku</li>
            <li>AWS</li>
            <li>Netlify</li>
            <li>Photoshop</li>
          </ul>
        </div>

      </div>
    </div>
  </section>
  
  <section class="projects-section" #projects>
    <div class="projects">

      <div class="titleGrid">
        <h1 class="projectsTitle">My Work.</h1>
      </div>

      <div class="woImg"><img src="../assets/worktout.png" alt="" class="woImg imgTrans"></div>
      <div class="woDesc">
        <div>
          <h1 class="projectTitle slide">Worktout Workout Companion</h1>
        </div>
        <div>
          <p class="projectAbout slide">Developed a full stack workout application built to log and
            track progress throughout workouts, and help plan a full workout routine. Also serves as a
            database for beginners to easily find workouts targeting specific muscle groups. Implements
            Java, SpringBoot, Angular, and a PostgreSQL database. Deployed utilizing AWS RDS, Heroku,
            and Netlify</p>
        </div>
          <div class="icons slide">
            <i class="ri-github-fill project-link" (click)="newTab('https://github.com/iancraine/Workout')"></i>
            <i class="ri-external-link-line project-link" (click)="newTab('https://worktout.com')"></i>
          </div>
      </div>

      <div class="planImg"><img src="../assets/planner.png" alt="" class="imgTrans"></div>
      <!-- <div class="planImg imgTrans"></div> -->
      <div class="planDesc">
        <div>
          <h1 class="projectTitle slide">Planner Ahead Meal Planner</h1>
        </div>
        <div>
          <p class="projectAbout slide">Worked in a team to develop a full stack meal planning Web
            Application, in which a registered user can build and save recipes into meal plans of any size.
            Implemented Java, Vue.Js, a PostgreSQL database, SpringBoot, and JSON. Deployed using
            Heroku and Netlify.</p>
        </div>
          <div class="icons slide">
            <i class="ri-github-fill project-link" (click)="newTab('https://github.com/iancraine/PlannerAheadFinal')"></i>
            <i class="ri-external-link-line project-link" (click)="newTab('https://planner-ahead-app.netlify.app')"></i>
          </div>
      </div>

    </div>
  </section>

  <section class="contact-section fade-in" #contact style="min-height: 70vh;">
    <div class="contact-container">
      <div class="contact-title">
        <h1>Get In Contact</h1>
      </div>
      <div class="form-area">
        <form name="contact-me" action="">
          <input type="text" placeholder="Name"><br><br>
          <input type="text" placeholder="Email"><br><br>
          <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea><br><br>
          <button>Submit</button>
        </form>
      </div>
      <div class="my-links">
        <h2 style="text-align: center;">Ian Craine</h2>

        <i class="ri-github-fill project-link" (click)="newTab('https://github.com/iancraine')"></i>
        <i class="ri-linkedin-box-fill project-link" (click)="newTab('https://www.linkedin.com/in/ian-craine/')"></i>
        <a href="mailto:iancraine09@gmail.com" style="color: inherit; text-decoration: none;"><i class="ri-mail-line project-link"></i></a>
      </div>
    </div>
  </section>

  <div class=page-animation>
    <div class="color-one"></div>
    <div class="color-two"></div>
    <div class="color-three"></div>
  </div>
</div>

