<div class="page">
  <div class="navbar">
    <a class="logo">IC</a>
    <nav>
      <ul>
        <li>About</li>
        <li>Skills</li>
        <li>Projects</li>
        <li>Contact</li>
      </ul>  
    </nav>
  </div>


  <section class="animated-ele">
    <h1>Hey Im Ian</h1>
    <p>A Fullstack Developer</p>
  </section>

  <section class="animated-ele">
    <h1>Hey Im Ian</h1>
    <p>About Me!</p>
  </section>

  <section class="animated-ele">
    <h1>Hey Im Ian</h1>
    <p>Here are my skills</p>
  </section>
  
  <section class="animated-ele">
    <h1>Hey Im Ian</h1>
    <p>Here are some of my projects</p>
  </section>

  <section class="animated-ele">
    <h1>Hey Im Ian</h1>
    <p>Get in Contact</p>
  </section>

  <div class=page-animation>
    <div class="color-one"></div>
    <div class="color-two"></div>
    <div class="color-three"></div>
  </div>
</div>

