<div class="page">
  <div class="navbar">
    <a class="logo">IC</a>
    <nav>
      <ul>
        <li>About</li>
        <li>Skills</li>
        <li>Projects</li>
        <li>Contact</li>
      </ul>  
    </nav>
  </div>

  <section class="animated-ele">
    <!-- <h1>Hey Im Ian</h1>
    <p>A Fullstack Developer</p> -->

    <h1 class="intro">
      <span class="box"></span>
      <span class="hey">Hey, Im</span>
      <span class="text"></span>
      <span class="cursor">|</span>
    </h1>
  </section>

  <section class="animated-ele">
    <div class="about">
      <h1>About Me</h1>
      <p>Hello my name is Ian Craine and ever since I first opened my grandma's 5yr old laptop
        I've had an interest in learning to create anything with technology, whether it be how
        my favorite games or songs were made or teaching myself how to create logos and videos
        through youtube tutorials.
        In my previous role in online grocery, my team and I would regularly handle a high volume
        of orders while still remaining one of the top stores in the market. This sharpened my skills
        in not only teamwork but also customer satisfaction. These skills along with my passion for
        technology led me to a career in software development where I can use my strengths in adaptability
        and futuristic thinking in order to improve a system bigger than just me!
        I am looking for a position where I would be able to see the results of my hard work while also
        furthering my knowledge in development. Thank you!
      </p>
    </div>
  </section>

  <section class="animated-ele">
    <div class="skills-container">
      <h2 class="skills-title">Technology</h2>
      <div class="skills">
        
        <div class="front-container">
          <h3>Frontend</h3>
          <ul>
            <li>Angular</li>
            <li>TypeScript</li>
            <li>Vue.Js</li>
            <li>JavaScript</li>
            <li>CSS</li>
            <li>HTML</li>
          </ul>
        </div>

        <div class="back-container">
          <h3>Backend</h3>
          <ul class="backend">
            <li>Java</li>
            <li>PostgreSql</li>
            <li>Spring Boot</li>
          </ul>
        </div>

        <div class="other-container">
          <h3>Other</h3>
          <ul>
            <li>Git</li>
            <li>Heroku</li>
            <li>AWS</li>
            <li>Netlify</li>
            <li>Photoshop</li>
          </ul>
        </div>

      </div>
    </div>
  </section>
  
  <section class="animated-ele">
    <div class="project">
      <div class="project-detail">
        <h1>Worktout</h1>
        <p>Developed a full stack workout application built to log and
          track progress throughout workouts, and help plan a full workout routine. Also serves as a
          database for beginners to easily find workouts targeting specific muscle groups. Implements
          Java, SpringBoot, Angular, and a PostgreSQL database. Deployed utilizing AWS RDS, Heroku,
          and Netlify</p>
      </div>
    </div>

    <div class="project">
      <div class="project-detail">
        <h1>PlannerAhead Meal Planner</h1>
        <p>Worked in a team to develop a full stack meal planning Web
          Application, in which a registered user can build and save recipes into meal plans of any size.
          Implemented Java, Vue.Js, a PostgreSQL database, SpringBoot, and JSON. Deployed using
          Heroku and Netlify.</p>
      </div>
    </div>
  </section>

  <section class="animated-ele">
    <h1>Hey Im Ian</h1>
    <p>Get in Contact</p>
  </section>

  <div class=page-animation>
    <div class="color-one"></div>
    <div class="color-two"></div>
    <div class="color-three"></div>
  </div>
</div>

