.page{
    margin: 0;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
li:hover, .logo:hover{
    text-decoration: underline;
    cursor: pointer;
}
.navbar{
    height: 50px;
    /* margin-top: 1rem; */
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

    background-color: rgb(200, 77, 24);
}
.nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    gap: 5rem;
    padding-right: 2rem;

}
.logo{
    padding-left: 2rem;
    text-align: center;
    align-self: center;
}
.toggle-button{
    /* position: absolute;
    top: 1rem;
    right: 1rem; */
    display: none;
}
.toggle-button:hover{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .toggle-button{
        display: flex;
    }
    .showNav{
        display: none;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-title{
        width: 100%;
        padding-right: 2rem;
        height: 100%;
    }
    .nav{
        flex-direction: column;
        width: 100%;
        background-color: rgb(200, 77, 24);
        gap: .5rem;
        padding-right: 0;
        margin-top: 1rem;
    }
    li{
        width: 100%;
        text-align: center;
        padding: 1rem 1rem;
    }
    li:hover{
        background-color: var(--body-color);
    }
}

.fade-in, .about-section, .skills-section{
    opacity: 0;
}
.about-section{
    min-height: 45vh;
}
.skills-section{
    min-height: 30vh;
    padding: 0 0 0 0;
    padding-bottom: 10rem;
}

.page-animation{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.color-one,.color-two,.color-three{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.color-one{
    background-color: blue;
    z-index: 3;
}
.color-two{
    background-color: red;
    z-index: 2;
}
.color-three{
    background-color: purple;
    z-index: 1;
}
.intro{
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 12vw;

    
    /* font-size: 24vh; */
    
}
.about{
    display: grid;
    grid-template-columns: 20% 50%;
    column-gap: 1rem;
}
.about-title{
    font-size: 6vw;
    text-align: end;
}
.about-p{
    justify-self: center;
    align-self: center;
}
.skills-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "skills"
    ;
}
.skills-title{
    grid-area: title;
    justify-self: center;
    font-size: 6vw;
}
.skills{
    grid-area: skills;
    display: grid;
    grid-template-areas: 
    ". front back other ."
    ;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
}
.front-container{
    display: grid;
    grid-area: front;
}
.back-container{
    grid-area: back;
    border-right: 3px dotted black;
    border-left: 3px dotted black;
}
.other-container{
    grid-area: other;
}
.back-container,.front-container,.other-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skills>*{
    padding: 0 1rem 0 1rem;
    margin-top: 2rem;
}
.imgTrans{
    width: 100%;
    object-fit: cover;
    /* height: 400px; */
}
.projects{
    display: grid;
    grid-template-areas: 
    ". projectsTitle . ."
    ". . . ."
    ". woImg woDesc ."
    ". . . ."
    ". planImg planDesc ."
    ;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: max-content 1rem max-content 10rem max-content;
    /* row-gap: 10rem; */
    column-gap: 1rem;
}
.woImg{
    grid-area: woImg;
    overflow: hidden;
}
.woDesc{
    grid-area: woDesc;
    overflow: hidden;
}

.planImg{
    grid-area: planImg;
    overflow: hidden;
    /* background-image: url(../assets/planner.png) center top; */
}
.planDesc{
    grid-area: planDesc;
    overflow: hidden;
}
.titleGrid{
    grid-area: projectsTitle;
    overflow: hidden;
}
.projectsTitle{  
    font-size: 6vw;
    text-align: end;
}
.planDesc, .woDesc{
    justify-self: center;
    align-self: center;
}
.project-link{
    font-size: 2rem;
    right: 0;
    padding: .4rem;
    text-align: center;
}
.projectTitle, .projectAbout{
    text-align: end;
    margin-bottom: 1rem;
}
.project-link:hover{
    cursor: pointer;
    background-color: rgb(200, 77, 24);
    border-radius: 50%;
}
.projectTitle{
    margin-bottom: 1rem;
}
.icons{
    display: flex;
    justify-content: flex-end;
}
.contact-container{
    display: grid;
    grid-template-areas: 
    "title title title title"
    ". form details .";
    grid-template-columns: 5% 1fr 1fr 5%;
    row-gap: 5rem;
    column-gap: 10rem;
}
.form-area{
    grid-area: form;
    justify-self: end;
    /* text-align: center; */
}
.my-links{
    grid-area: details;
    justify-self: start;
    align-self: center;
}
.contact-title{
    grid-area: title;
    text-align: center;
}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1em;
    border-radius: 25px;

}
button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}


@media only screen and (max-width: 1500px) {
    .intro{
        font-size: 15vw;
    }
}
@media only screen and (max-width: 1200px) {
    .intro{
        font-size: 18vw;
    }

}
@media only screen and (max-width: 500px) {
    .intro-section{
        min-height: 55vh;
    }
    .intro{
        font-size: 20vw;
    }
}
@media only screen and (max-width: 800px) {
    .contact-container{
        display: grid;
        grid-template-areas: 
        "title title title title"
        ". form details .";
        grid-template-columns: 1rem 1fr 1fr 1rem;
        row-gap: 5rem;
        column-gap: 2rem;
    }
    .skills{
        grid-template-areas: 
        ". front back other ."
        ;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
    }
}





